<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aielves.platform.rbac.dao.RbacUserDAO">
    
    <resultMap id="BaseResultMap" type="com.aielves.platform.rbac.domain.RbacUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="uid" jdbcType="VARCHAR" property="uid" />
        <result column="utype" jdbcType="INTEGER" property="utype" />
        <result column="areacode" jdbcType="VARCHAR" property="areacode" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="headimg" jdbcType="VARCHAR" property="headimg" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="realname" jdbcType="VARCHAR" property="realname" />
        <result column="idno" jdbcType="VARCHAR" property="idno" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="wxcat" jdbcType="VARCHAR" property="wxcat" />
        <result column="alipay" jdbcType="VARCHAR" property="alipay" />
        <result column="password2" jdbcType="VARCHAR" property="password2" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="ctime" jdbcType="BIGINT" property="ctime" />
        <result column="utime" jdbcType="BIGINT" property="utime" />
        <result column="state" jdbcType="INTEGER" property="state" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, username, password, uid, utype, areacode, mobile, sex, age, headimg, nickname, 
        realname, idno, email, wxcat, alipay, password2, level, ctime, utime, state
    </sql>
    
    <insert id="insert" parameterType="com.aielves.platform.rbac.domain.RbacUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into rbac_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="utype != null">
                utype,
            </if>
            <if test="areacode != null">
                areacode,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="headimg != null">
                headimg,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="realname != null">
                realname,
            </if>
            <if test="idno != null">
                idno,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="wxcat != null">
                wxcat,
            </if>
            <if test="alipay != null">
                alipay,
            </if>
            <if test="password2 != null">
                password2,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="utime != null">
                utime,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="utype != null">
                #{utype,jdbcType=INTEGER},
            </if>
            <if test="areacode != null">
                #{areacode,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="headimg != null">
                #{headimg,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="idno != null">
                #{idno,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="wxcat != null">
                #{wxcat,jdbcType=VARCHAR},
            </if>
            <if test="alipay != null">
                #{alipay,jdbcType=VARCHAR},
            </if>
            <if test="password2 != null">
                #{password2,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=BIGINT},
            </if>
            <if test="utime != null">
                #{utime,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.aielves.platform.rbac.domain.RbacUser">
        update rbac_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="utype != null">
                utype = #{utype,jdbcType=INTEGER},
            </if>
            <if test="areacode != null">
                areacode = #{areacode,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="headimg != null">
                headimg = #{headimg,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="idno != null">
                idno = #{idno,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="wxcat != null">
                wxcat = #{wxcat,jdbcType=VARCHAR},
            </if>
            <if test="alipay != null">
                alipay = #{alipay,jdbcType=VARCHAR},
            </if>
            <if test="password2 != null">
                password2 = #{password2,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
            <if test="utime != null">
                utime = #{utime,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long">
        delete from rbac_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <select id="countByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultType="java.lang.Integer">
        select count(1) 
        from rbac_user
        <include refid="Global.Where_Clause" />
    </select>
    
    <select id="findByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultMap="BaseResultMap">
        select 
        <include refid="Global.Field_Clause" />
        from rbac_user
        <include refid="Global.Where_Clause" />
    </select>
    
    <delete id="deleteByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd">
        delete from rbac_user
        <include refid="Global.Where_Clause" />
    </delete>
    
    <update id="updateByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd">
        update rbac_user
        <set>
            <if test="updateObj.username != null">
                username = #{updateObj.username,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.password != null">
                password = #{updateObj.password,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.uid != null">
                uid = #{updateObj.uid,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.utype != null">
                utype = #{updateObj.utype,jdbcType=INTEGER},
            </if>
            <if test="updateObj.areacode != null">
                areacode = #{updateObj.areacode,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.mobile != null">
                mobile = #{updateObj.mobile,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.sex != null">
                sex = #{updateObj.sex,jdbcType=INTEGER},
            </if>
            <if test="updateObj.age != null">
                age = #{updateObj.age,jdbcType=INTEGER},
            </if>
            <if test="updateObj.headimg != null">
                headimg = #{updateObj.headimg,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.nickname != null">
                nickname = #{updateObj.nickname,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.realname != null">
                realname = #{updateObj.realname,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.idno != null">
                idno = #{updateObj.idno,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.email != null">
                email = #{updateObj.email,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.wxcat != null">
                wxcat = #{updateObj.wxcat,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.alipay != null">
                alipay = #{updateObj.alipay,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.password2 != null">
                password2 = #{updateObj.password2,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.level != null">
                level = #{updateObj.level,jdbcType=INTEGER},
            </if>
            <if test="updateObj.ctime != null">
                ctime = #{updateObj.ctime,jdbcType=BIGINT},
            </if>
            <if test="updateObj.utime != null">
                utime = #{updateObj.utime,jdbcType=BIGINT},
            </if>
            <if test="updateObj.state != null">
                state = #{updateObj.state,jdbcType=INTEGER},
            </if>
        </set>
        <include refid="Global.Where_Clause" />
    </update>
    
    <select id="findFieldByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultType="java.lang.String">
        select 
        <include refid="Global.Field_Clause" />
        from rbac_user
        <include refid="Global.Where_Clause" />
    </select>
    
    <select id="findMapByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultType="java.util.Map">
        select 
        <include refid="Global.Field_Clause" />
        from 
        <include refid="Global.Where_Clause_Complex" />
    </select>
</mapper>